{% extends 'base.html' %}
{% block nav %}{% include 'inc/_nav.html' %}{% endblock %}
{% block content %}

    {% for product in products %}
    <div class="card" style="width: 18rem;">
    <img src="{{product.Product_Picture.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.Product_Name }}</h5>
    <p class="card-text">Price: {{ product.Product_Price }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
      {% for tag in product.tag_set.all %}
          <a href="{% url 'tag_products' tag.pk %}">{{ tag.Tag_Name }}</a>
      {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}
