<meta charset="UTF-8">
{% extends 'base.html' %}
{% block title %}Catalog{% endblock %}
{% block nav %}{%  include 'inc/_nav.html' %}{% endblock %}
{% block content %}
    {% for product in products %}
        <div class="card" style=" ">
        <img src="{{ product.img_product.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class = "card-title">{{ product.product_name}}</h5>
            <p class ="card-text">{{ product.description_product }}</p>
            <a href="{% url 'view_product' product.pk %}" class="btn btn-primary">view product</a>
            <p>Теги:
            {% for tag in product.tag_set.all %}
                <a href="{% url 'tag_products' tag.pk %}">{{ tag.name.tag }}</a>
                {% endfor %}
            </p>
        </div>
        </div>
    {% endfor %}
{% endblock %}